* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:linear-gradient(to right, rgb(82, 147, 217), rgba(60, 180, 244, 0.637));
}

.container {
  position: relative;
  top: 50px;
}

.rocket-body {
  position: relative;
  width: 80px;
  height: 200px;
  background: linear-gradient(to right, #000, rgb(36, 35, 35));
}

.rocket-body::after {
  content: "";
  position: absolute;
  border: 30px solid transparent;
  border-left: 20px solid red;
  border-bottom: 30px solid red;
  top: 130px;
  left: 80px;
}

.rocket-body::before {
  content: "";
  position: absolute;
  top: 130px;
  right: 80px;
  border: 30px solid transparent;
  border-right: 20px solid red;
  border-bottom: 30px solid red;
}

.rocket-start {
  position: relative;
  border: 40px solid transparent;
  border-bottom: 40px solid red;
}

.fire {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 10px;
}

.fire span {
  position: relative;
  bottom: -120px;
  display: block;
  margin: 0 0px 50px;
  min-width: 3px;
  height: 120px;
  background: rgba(249, 97, 37, 0.747);
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
}

.clouds-right {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 200px;
}

.clouds-right span {
  position: relative;
  bottom: 320px;
  left: 300px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 140px;
  background: rgb(245, 244, 243);
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(15px);
  animation-delay: calc(var(--i) * -0.5s);
}

.clouds-left {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 200px;
}

.clouds-left span {
  position: relative;
  bottom: 320px;
  right: 700px;
  display: block;
  margin: 0 2px 50px;
  min-width: 9px;
  height: 120px;
  background: rgb(198, 202, 206);
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(20px);
  animation-delay: calc(var(--i) * -0.5s);
}

.clouds-left-hight {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 300px;
}

.clouds-left-hight span {
  position: relative;
  bottom: 1150px;
  right: 500px;
  display: block;
  margin: 0 3px 60px;
  min-width: 8px;
  height: 200px;
  background: rgb(174, 195, 241);
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(10px);
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    transform: translateY(100px) scaleY(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(150px) scaleY(10);
    opacity: 0;
  }
}